<div>
  <div class="acord">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title >Состояние, возможности, готовность сил и средств</mat-panel-title>
        </mat-expansion-panel-header>
        <a routerLinkActive="active"
           routerLink="/page">Контроль полетов БЛА</a><br>
        <a routerLinkActive="active"
           routerLink="/page">Безопасность полетов БЛА</a><br>
        <a routerLinkActive="active"
           routerLink="/page">Доступ к НСИ и документам</a><br>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title >Учебно-боевая подготовка личного состава</mat-panel-title>
        </mat-expansion-panel-header>
        <a routerLinkActive="active"
           routerLink="/page">Контроль полетов БЛА</a><br>
        <a routerLinkActive="active"
           routerLink="/page">Безопасность полетов БЛА</a><br>
        <a routerLinkActive="active"
           routerLink="/page">Доступ к НСИ и документам</a><br>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title >Укомплектованность частей и подразделений личным составом</mat-panel-title>
        </mat-expansion-panel-header>
        <a routerLinkActive="active"
           routerLink="/page">Контроль полетов БЛА</a><br>
        <a routerLinkActive="active"
           routerLink="/page">Безопасность полетов БЛА</a><br>
        <a routerLinkActive="active"
           routerLink="/page">Доступ к НСИ и документам</a><br>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title >Укомплектованность частей и подразделений ВВСТ</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title >Данные об откомандированных расчетах с комплексами БЛА и их решаемых задачах</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title >Контроль выполнения ГОЗ</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion></div></div>
